form.jobPostingForm {
    max-width: 400px;
    margin: 40px auto;
    padding: 0px 0px 20px 0px;
    border-radius: 4px;
}

.jobPostingForm input {
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 20px;
    width: 100%; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

.jobPostingForm select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

.jobPostingForm textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    height: 100px;
}

.jobPostingForm label {
    display: block;
}

.jobPostingForm button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.jobPostingForm div.success {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 4px;
    margin: 20px 0;
}

.jobPostingForm div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}